body{
  background-image:linear-gradient(to right,#cdcdcb,#F9F9F9);
}
.navbar{/*Class to implement navbar*/
  position: fixed;
  width: 100%;
  margin:0 auto;
  background-image: linear-gradient(to right,#2C3E50,#000000);
  color: white;
  padding-left: 12%;
  height: 50px;
}
#nav-body {/* It should be use in body to use font*/
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
footer{
  background-image: linear-gradient(to right,#2C3E50,#000000);
  color: white;
}
#nav-logo-brand{/*It should use for brand logo im nav bar*/
   margin-top: 3px;
   width: 100px;
   float: left;
   height: 35px;
   margin-left: -55px;
   background-color: white;
   margin-right: 58px;
 }
.nav-top-section{/*It should use for define a menu option.But required to use nav-element*/
   float: left;
   border-left: 1px black solid;
   border-right: 1px black solid;
   height: 40px;
   background-color: lightgrey;
 }
#nav-ico{/*It should use to show icon for menu option*/
   width: 25px;
   margin: 10px 15px;
   float: left;
 }
 #search-box {
    background-color: #E4E4E4;
    border:none;
    font-weight: bold;
    font-size: 14px;
    padding:5px;
    margin: 5px 0 5px 5px;
    float: left;
    }
#magnifying-glass {
    height:25px;
    margin-top:5px;
  }
.clear {
      clear:both;
      }
#nav-sign-in{/*It use for signin option with nav-icon*/
   font-weight: bold;
   font-size: 90%;
   position: relative;
   top: 14px;
   padding-right: 15px;
 }

#nav-element{/*Always use this inside .navtop-section*/
   font-weight: bold;
   font-size: 90%;
   position: relative;
   top: 14px;
   padding-right: 15px;
   padding-left: 15px;
}
.menu{
  border-top: 1px solid #CCCCCC;
  background-color:rgb(187,25,25);
  height:70px;
}
.menu a{
  color: white;
}
#menu-head{
  margin: 0px auto;
  font-size: 50px;
  font-weight: bold;
  padding-left: 115px;
  position: relative;
  float: left;
  color: white;
}
.menu2{
  background-color: #A91717;
  height: 25px;
  padding-left: 110px;
  width: auto;
}
.menu2 a{
  color: white;
}
.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}
#abc{
  color: #ffffff;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  border-right: 0.5px lightgrey solid;
  float: left;
}
article{
  display: inline-block;
  margin-left: 100px;
}
#head{
  text-shadow:2px;
  font-size: 20px;
  font-weight: lighter;
  text-decoration: underline red;
}
 a:hover{
  color: teal;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
}
#article-cont a{
  text-decoration: none;
  color: black;
}
#article-cont a:hover{
 color: teal;
 text-decoration: none;
}
#article-cont {
    display: inline;
    float: left;
    width: 670px;
    padding-right: 20px;
    border-right: 2px solid #CCCCCC;
}
#article-contt {
    display: inline;
    float: left;
    width: 670px;
    padding-right: 20px;
    color: black;
}
#article-contt a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
#article-summ {
    color: #5a5a5a;
    width: 250px;
    float: left;
}
#clock {
    display:inline-block;
    height: 20px;
    position: relative;
    margin-top: 10px;
    top: 2px;
    z-index: -1;
}
#date {
    display: inline;
    padding-right: 10px;
    color: #5a5a5a;
    font-size: 20px;
    border-right: 1px solid gray;
}
.sec-cont{
    display: inline-block;
    width: 670px;

}
#text{
  display: inline-block;
  width: 305px;
  height: auto;
}
#main-article-image{
position: relative;
float: right;
z-index: -1;
}
#watch-listen {
    margin-left: 30px;
    width: 300px;
    float: right;
}
iframe{
  float: left;
  margin-right: 30px;
}
.side-section{
  margin-left: 20px;
  float: right;
  width: 180px;
  margin-top:-100px;
}
footer{
  background-color: lightgrey;
  color: teal;
  text-align: center;
  margin-bottom: 0px;
}
